.container{    
    font-size: 30px;
    line-height: 1.8;
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-family: "Cursive";
    margin: 0px;
    background-image: url("images/banner2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center left;
    position: relative;  
    min-width: 100%;
    min-height: 100%;
}