	<!-- Footer top section -->
	<section class="footer-top-section">
		<div class="container">
			<div class="footer-top-bg">
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="footer-logo text-white">
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="footer-widget mb-5 mb-md-0">
						<h4 class="fw-title">Game Post</h4>
						<div class="latest-blog">
							<div class="lb-item">
								<div class="lb-content">
									<div class="lb-date">January 28, 2020</div>
									<p>PUBG Mobile: Tips and tricks for the new Team Gun game mode </p>
									<a href="#" class="lb-author">By Admin</a>
								</div>
							</div>
							<div class="lb-item">
								
								<div class="lb-content">
									<div class="lb-date">March 2, 2020</div>
									<p>PUBG Mobile hacks: New anti-cheat system bans 2,273,152 accounts in one week </p>
									<a href="#" class="lb-author">By Admin</a>
								</div>
							</div>
							<div class="lb-item">
								
								<div class="lb-content">
									<div class="lb-date">June 21, 2020</div>
									<p>PUBG Mobile: Soul Regaltos control setup and sensitivity settings</p>
									<a href="#" class="lb-author">By Admin</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="footer-widget">
						<h4 class="fw-title">Top Comments</h4>
						<div class="top-comment">
							<div class="tc-item">
								
								<div class="tc-content">
									<p><a href="#">James Smith</a> <br>Good Graphics</p>
									<div class="tc-date">December 29, 2018</div>
								</div>
							</div>
							<div class="tc-item">
								
								<div class="tc-content">
									<p><a href="#">John Conner</a> <br>Fun Game</p>
									<div class="tc-date">June 21, 2019</div>
								</div>
							</div>
							<div class="tc-item">
								
								<div class="tc-content">
									<p><a href="#">Stiles Stilinski</a> <br>Visuals are catchy.</p>
									<div class="tc-date">January 5, 2020</div>
								</div>
							</div>
							<div class="tc-item">
								
								<div class="tc-content">
									<p><a href="#">Lydia Martin</a> <br>Great Interface</p>
                                    <div class="tc-date">April 16, 2020</div>
                                    <br>
                                    <br>
                                    <br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer top section end -->

	
	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<ul class="footer-menu">
				<li><a routerLink="/home">Home</a></li>
				<li><a routerLink="/contact">Contact</a></li>
				<li><a routerLink="/signup">Sign up</a></li>
				<li><a routerLink="/login">Sign in</a></li>
			</ul>
			<p class="copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved </p>
		</div>
	</footer>
