body {font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(34, 29, 29);
}
.header {
  overflow: hidden;
  max-width: 100%;
  background-color:rgb(51, 49, 47);
  padding: 5px 100px;
  padding-left:850px;
}

.header a {
  float: left;
  color: rgb(250, 16, 16);
  text-align: right;
  padding: 5px;
  text-decoration:dashed;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 20px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(250, 16, 16);;
  color: rgb(51, 49, 47);
}

.header a.active {
  background-color: dodgerblue;
  color: rgb(45, 36, 172);
}

@media screen and (max-width: 600px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
}


* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
